/* Gameboard */
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&display=swap');

#banner {
    
    font-family: 'Revalia', cursive;
    font-size: 4REM;
    text-align: center;
    color: black;
    
}

/* #banner {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px green;
    }
} */


#game-board {
    font-family: 'Monoton', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    width: 400px;
    height: 400px;
    margin: 1REM auto;
    border: 1px black solid;
    
}

.game-board-red {
    background-color: red;
}

.game-board-blue {
    background-color: blue;
}

.red {
    color: red;
    background-color: white;
    text-shadow: 0 0 10px;
}

.blue {
    color: blue;
    background-color: white;
    text-shadow: 0 0 10px;
}

.squares {
    background-color: white;    
}

#sq1, #sq2, #sq3, 
#sq4, #sq5, #sq6, 
#sq7,#sq8, #sq0 {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    font-size: 5REM;
}


#sq0 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#sq1 {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
}

#sq2 {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
}

#sq3 {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
}

#sq4 {
    grid-column: 4 / 6;
    grid-row: 4 / 6;
}

#sq5 {
    grid-column: 7 / 9;
    grid-row: 4 / 6;
}

#sq6 {
    grid-column: 1 / 3;
    grid-row: 7 / 9;
}

#sq7 {
    grid-column: 4 / 6;
    grid-row: 7 / 9;
}

#sq8 {
    grid-column: 7 / 9;
    grid-row: 7 / 9;
}


#status {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 font-family: 'Revalia', cursive;
 font-size: 1REM;
 padding: 1REM;
}

.player-div, .activeBlue, .activeRed {
    padding: 1REM;
    margin: auto;
    font-size: 2REM;
}

.player-div {
    border: 5px black solid;
    padding: 1REM;
    
}

.activeRed {
    border: 5px red solid;
    color: red;
    
}

.activeBlue {
    border: 5px blue solid;
    color: blue;
}





@media only screen and (max-width: 600px) {
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

    #banner {
    
        font-family: 'Revalia', cursive;
        font-size: 2REM;
        text-align: center;
        color: black;
        
    }

    #sq1, #sq2, #sq3, 
    #sq4, #sq5, #sq6, 
    #sq7,#sq8, #sq0 {
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        height: 100px;
        font-size: 2REM;
    }


    .player-div, .activeBlue, .activeRed {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 1REM;
    }

    #game-board {
        width: 200px;
        height: 200px;
        margin: 1REM auto;
        border: 1px black solid;
    }
    .squares {
        background-color: white;    
    }
    
    #sq1, #sq2, #sq3, 
    #sq4, #sq5, #sq6, 
    #sq7,#sq8, #sq0 {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        height: 50px;
        font-size: 2REM;
    }

    #status {
        flex-direction: column;
        
       }


}